---
---

@import "{{ site.theme }}";

.main-content{
  font-size: 0.85rem;
}

.person img{
  float: left;
  width: 150px;
  min-width: 150px;
  padding-right: 7px;
}

.person p{
    margin-block-start: 0.2rem;
    margin-block-end: 0rem;
}

.person h2{
  margin-top: 0px;
}

.person::after {
  content: "";
  clear: both;
  display: table;
}

.person table{
  border: 0px;
}

.person table tr{
  border: 0px;
}

.person table td{
  border:0px;
  vertical-align: top;
}
